﻿<header class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">Candidate Management Tools</a>
        </div>
        <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/candidates">Manage Candidates</a>
                </li>
            </ul>
        </nav>
    </div>
</header>