﻿<div class="form ng-hide" ng-show="displayForm">
    <form class="form-horizontal form-100" ng-submit="saveCandidate()">
        <input type="hidden" name="id" ng-model="newCandidate.Id">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" ng-model="newCandidate.Name" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="surname" class="col-sm-2 control-label">SureName</label>
            <div class="col-sm-4">
                <input type="text" ng-model="newCandidate.Surname" class="form-control" id="surname" placeholder="Surname" required>
            </div>
        </div>
        <div class="form-group">
            <label for="position" class="col-sm-2 control-label">Position</label>
            <div class="col-sm-4">
                <select name="position" id="position"
                        ng-options="option.Position for option in positions.positions track by option.Id"
                        ng-model="positions.selectedPosition"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="curiculum" class="col-sm-2 control-label">Curiculum(.pdf)</label>
            <div class="col-sm-4">
                <input type="file" ng-file-select="prepareFiles($files)" accept="application/pdf">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="button" class="btn btn-danger" ng-click="cancelForm()">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>