﻿<div class="candidate-container" ng-controller="candidatesCtrl as candidatesCtrl">
    <h2>Manage Candidates</h2>
    <candidate-form></candidate-form>
    <hr class="col-sm-6" />
    <br />
    <br />
    <candidate-list></candidate-list>
</div>