﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="candidateManagement">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="title">@(PageData["title"] ?? "Candidate Management Tool")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ingress-api.quixxi.com/CDN/quixxianalytics.min.js"></script>
</head>
<body ng-controller="rootCtrl">
    <top-bar></top-bar>
    <div id="ui-view" class="container" ui-view>
        <div class="page {{ pageClass }}" ng-view></div>
    </div>
    </div><!--/row-offcanvas -->
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")

</body>
</html>
